<div class="container">
  <div class="content">
    <div class="input-container">
      <span nz-icon nzType="radius-upleft" nzTheme="outline"></span>
      <app-unit-input
        [unit]="'px'"
        [disabled]="false"
        [(ngModel)]="topLeft"
        name="topLeft"
        ngDefaultControl
        (ngModelChange)="updateCorner('topLeft', $event)"
      ></app-unit-input>
    </div>
    <div class="input-container">
      <span nz-icon nzType="radius-bottomleft" nzTheme="outline"></span>
      <app-unit-input
        [unit]="'px'"
        [disabled]="false"
        [(ngModel)]="bottomLeft"
        name="bottomLeft"
        ngDefaultControl
        (ngModelChange)="updateCorner('bottomLeft', $event)"
      ></app-unit-input>
    </div>
  </div>
  <div class="content">
    <div class="input-container">
      <span nz-icon nzType="radius-upright" nzTheme="outline"></span>
      <app-unit-input
        [unit]="'px'"
        [disabled]="false"
        [(ngModel)]="topRight"
        name="topRight"
        ngDefaultControl
        (ngModelChange)="updateCorner('topRight', $event)"
      ></app-unit-input>
    </div>
    <div class="input-container">
      <span nz-icon nzType="radius-bottomright" nzTheme="outline"></span>
      <app-unit-input
        [unit]="'px'"
        [disabled]="false"
        [(ngModel)]="bottomRight"
        name="bottomRight"
        ngDefaultControl
        (ngModelChange)="updateCorner('bottomRight', $event)"
      ></app-unit-input>
    </div>
  </div>
  <span
    [class.active]="isLinked"
    nz-icon
    nzType="link"
    nzTheme="outline"
    (click)="toggleLinked()"
  ></span>
</div>
